<!-- Include file(s) -->
<%- include('./frame/header')%>
<%- include('./frame/nav')%>
<div class="main">
    <div class="post">
        <h2>All Posts</h2>
        <% if (blogs.length>0){%>
            <%blogs.forEach(blog=>{%>
                <div class="post-body" style="border: 2px solid white; margin:3px;padding:3px;">
                    <h3><%=blog.title%></h3>
                    <p><%=blog.body%></p> 
                    <a href="/<%=blog._id%>">more</a>  
                </div>
                                    
            <%})%>
        <%} else{%>
            <h4>OOPS no post found👀</h4>
        <%}%>
    </div>

</div>

<!-- Include file(s) -->
<%- include('./frame/footer')%>