<!-- Include file(s) -->
<%- include('./frame/header')%>
<%- include('./frame/nav')%>
<div class="main">
    <div class="post">
        <h2>More on <%=item.title%></h2>
        
        <div class="post-body" style="border: 2px solid white; margin:3px;padding:3px;">
            <h3><%=item.title%></h3>
            <p><%=item.body%></p>   
        </div>
                                
    </div>

</div>

<!-- Include file(s) -->
<%- include('./frame/footer')%>